@charset "UTF-8";

html,body {
  margin:0;
  padding:0;
}

html {
  font-size: 100%;
}
body {
  font-size: 0.875rem;
  color: #000;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.btn {
    color: white;
    background: #213a70;
    border: solid 1px #213a70;
    display: inline-block;
    font-size: 0.750rem;
    padding: 14px 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }


  a,a:hover,a:visited{
    color: inherit;
}


/* ヘッダー　*/
#inner .site-title {
    display: flex; /* フレックスボックスにする */
    width: 200px;              /* 幅指定 */
    height:  100px;           /* 高さ指定 */
    margin-left: 50px; /* 外側（左側）に余白 */
  }

#header .menu-1:hover {
    text-decoration: underline;
  }

/* nav */
#header #inner {
    display: flex; /* flexboxにする */
    justify-content:space-around;	/* 均等に配置し、各アイテムの両側にスペースを作る */
    flex-wrap: nowrap; /* 折り返し指定・一行 */
    flex-direction: row; /* フレックスアイテムを横に並べる */
}

 .menu-1 {
    display: flex; /* flexboxにする */ 
    justify-content:space-around;	/* 均等に配置し、各アイテムの両側にスペースを作る */
    gap: 20px;
}

/* main　*/

#mainvisual {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* Shops */

#brandshops {
  text-align: center;
}

.brandshops-1 {
  color: #213a70;
  text-align: center;
}

#shops {
  display: flex; /* flexboxにする */
  justify-content:space-around;	/* 均等に配置 */
  flex-wrap: nowrap; /* 折り返し指定・一行 */
  flex-direction: row; /* フレックスアイテムを横に並べる */ 
  width: auto; 
  margin: 25px 15px 15px 15px; /* 外側の余白 */
  padding: 10px 10px 10px 10px; /* 内側の余白 */
}

/* Items*/

#items {
  color:#213a70;
  text-align: center;
}

.items-itemes {
  text-align: center;
}

.items-img ul {
	display: flex;
	flex-wrap: wrap;
}

/* 画像のサイズは常に固定 */
.items-img img {
  width : 280px;
  height: 400px;
  margin: 10px;
  object-fit: cover;
}


/* Company */

/* 疑似要素を使って上線を引く */
 #company .yurai-title::before {
  /* content: "";
  width: 20px;
  height: 1px;
  background-color: black;
  display: block; */
} 

#company .made-title,::before {
  /* content: "";
  width: 20px;
  height: 1px;
  background-color: white;
  display: block; */
}

/*「display: inline-block;」を設定してブロック化することで、
改行されてmargin-bottomが使用できるようになる */
/* #company .yurai-title {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}

#company .made-title {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
} */

.company-title {
  color: white;
  background-color: #213a70;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
}

.text-1 {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
  color: black;
  padding:  0 0 0 0; /* 内側の余白指定 */
  margin: 0 0 0 0; /* 外側の余白指定 */
  background-color: #213a70;
  /* position: absolute; */
}


#company .yurai {
  /* height: calc(100% + 20px); */
  width: 100%;
  height: 100%;
  /* position: relative; */
}

#company .yurai-2 {
  width: 30%;
  height: 100%;
  color: #000;
  /* background-color: white; */
  padding:  50px; /* 内側の余白指定 */
  margin: 0 0 0 40%; /* 外側の余白指定 */
  /* right:  50px; 右からの位置指定
  top: 50px; 上からの位置指定 */
}

#company .yurai-3 {
  width: 30%;
  height: calc(50% + 20px); /* はみ出させる */ 
  color: #000;
  background-color: white;
  padding:  30px; /* 内側の余白指定 */
  /* margin: 0 0 0 50%; 外側の余白指定 */
  /* right:  50px; 右からの位置指定
  top: 50px; 上からの位置指定 */
  position: absolute;
}


#company .made {
  width:100%; 
  height: auto;
  /* position: absolute; */
  top: 50px;
  margin-top: 0;
  background-color:transparent; /* 背景色を透明化する */
  background-image: url(images/bg-company.jpg);
  }

  #company .text-2 {
    width: 30%;
    color: white;
    padding:  60px; /* 内側に余白指定 */
    margin:  20px; /* 外側に余白指定 */
    left:  50px; /* 左からの位置指定 */
    bottom: 0px; /* 下からの位置指定 */
  }

  .company-profile {
    align-items: center;
    text-align: center;
    color:#213a70;
  }
 
  #container{
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    /* display: block;
    width: 50%; */
  }

  .company-prof {
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    /* display: block; */
    width: 50%;
  }

  .company-prof dl {
    display: flex; /* フレックスボックスにする */
    flex-wrap: wrap; /* 折り返す */
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px; /* 内側に余白 */
    margin: 0 auto;
    /* margin: 20px 20px 20px 20px; 　外側に余白 */
    line-height: 40px; /* 行の高さを指定する */
  }
  .company-prof dl dt {
    width: 45%;
    font-weight: bold;
  }
  .company-prof dl dd {
    margin-left: 0; /* 初期値リセット */
    width: 55%;
  }
  



  /* Contact */

#contact{
  background-color: #edf3fc;
  color:#213a70;
  text-align: center;
  padding: 30px 30px 30px 30px;
}


/* フッター　*/

#footer {
  background-color: #fff;
  color:#000
}

#footer #wrapper-2 .menu-2 {
  display: flex; /* flexboxにする */
  justify-content:space-around;	/* 均等に配置 */
  flex-wrap: nowrap; /* 折り返し指定・一行 */
  flex-direction: row; /* フレックスアイテムを横に並べる */
  font-size:  12px;
} 

#footer .copyright {
    font-size:10px;
    text-align:center;
}
  