@charset "UTF-8";

html,body {
  margin:0;padding:0;
}

html {
  font-size: 100%;
}
body {
  font-size: 0.875rem;
  color: #000;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.btn {
    color: white;
    background: #213a70;
    border: solid 1px #213a70;
    display: inline-block;
    font-size: 0.750rem;
    padding: 14px 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }


  a,a:hover,a:visited{
    color: inherit;
}

/* ヘッダー　*/
#inner .site-title {
    display: flex; /* フレックスボックスにする */
    width: 200px;              /* 幅指定 */
    height:  100px;           /* 高さ指定 */
    margin-left: 50px; /* 外側（左側）に余白 */
  }

#header .menu-1:hover {
    text-decoration: underline;
  }

/* nav */
#header #inner {
    display: flex; /* flexboxにする */
    justify-content:space-around;	/* 均等に配置し、各アイテムの両側にスペースを作る */
    flex-wrap: nowrap; /* 折り返し指定・一行 */
    flex-direction: row; /* フレックスアイテムを横に並べる */
}

 .menu-1 {
    display: flex; /* flexboxにする */ 
    justify-content:space-around;	/* 均等に配置し、各アイテムの両側にスペースを作る */
}

/* main　*/

#mainvisual {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* Shops */

#brandshops {
  text-align: center;
}

.brandshops-1 {
  color: #213a70;
  text-align: center;
}

#shops {
  display: flex; /* flexboxにする */
  justify-content:space-between;	/* 均等に配置 */
  flex-wrap: nowrap; /* 折り返し指定・一行 */
  flex-direction: row; /* フレックスアイテムを横に並べる */ 
  width: 100%; 
  margin: 10px 10px 10px 10px; /* 余白 */
}

/* Items*/

#items {
  color:#213a70;
  text-align: center;
}

.items-itemes {
  text-align: center;
}

.items-img ul {
	display: flex;
	flex-wrap: wrap;
}

/* 画像のサイズは常に固定 */
.items-img img {
  width : 280px;
  height: 400px;
  margin: 10px;
  object-fit: cover;
}


/* Company */

.text-1 {
  /* width: 100%; */
  height: 500px;
  color: white;
  background-color: #213a70;
  position: absolute;
}


#company .yurai {
  width: 30%;
  height: 200px;
  color: #000;
  background-color: white;
  padding:  20px; /* 余白指定 */
  right:  50px; /* 右からの位置指定 */
  top: 50px; /* 上からの位置指定 */
  position: absolute;
}

#company .made {
  width:100%; 
  height: 500px;
  position: absolute;
  background-color:transparent; /* 背景色を透明化する */
  background-image: url(images/bg-company.jpg);
  }

  #company .text-2 {
    width: 30%;
    color: white;
    padding:  20px; /* 余白指定 */
    left:  50px; /* 左からの位置指定 */
    bottom: 0px; /* 下からの位置指定 */
  }

  .info {
    background-color: white;
    color: #000;
  }



  /* Contact */

#contact{
  background-color: #abb8c3;
  text-align: center;
  padding: 30px 30px 30px 30px;
}


/* フッター　*/

#footer {
  background-color: #fff;
  color: #000;
}

#footer #wrapper-2 .menu-2 {
  display: flex; /* flexboxにする */
  justify-content:space-around;	/* 均等に配置 */
  flex-wrap: nowrap; /* 折り返し指定・一行 */
  flex-direction: row; /* フレックスアイテムを横に並べる */
  font-size:  15px;
} 

#footer .copyright {
    font-size:10px;
    text-align:center;
}
  